<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>About Me</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../resources/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="home.html">
        <span>Isabella Banse</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="home.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="hobbies.html">About Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container my-5">
    <h2 class="page-title">About Me</h2>
    <div class="row g-4">
      <div class="col-md-4">
        <div class="card hobby-card h-100 text-center">
          <img src="../resources/img/cd_stack.jpg" class="card-img-top" alt="cd stack">
          <div class="card-body">
            <h5 class="card-title">Music + Guitar</h5>
            <p class="card-text">
              Music has always been a big part of my life. My personal favorite genres are grunge and classic rock, but I am always open to listen to anything new! Music has a vast impact on our brains, and in such can affect how the rest of our body works. I have brushed the top of the research iceberg on how music affects the alpha and beta waves in our brain, but from a non-analytic standpoint music is the thing that calms me the most and reminds me to push myself to my limits. I have recently taken up playing the guitar, and right now my favorite song to play is "You're the One" by Greta Van Fleet.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card hobby-card h-100 text-center">
          <img src="../resources/img/skiing.jpg" class="card-img-top" alt="skiing">
          <div class="card-body">
            <h5 class="card-title">Staying Active</h5>
            <p class="card-text">
              Staying active is one of my biggest priorities, and I love doing so in a variety of ways. I grew up playing soccer, running cross country, track (800m, 1600m, and shotput), and sand volleyball, where I traveled to Florida and California for national tournaments. I don't play these sports competively anymore, but I have found other ways to stay active. I still run, and have started weightlifting more since being in college. I have also found a love for skiing—going to school in Colorado has exposed me to the activity and I have fallen in love with it. Being able to feel the rush of going down a black diamond (with minimal falling) is one of the best feelings in the world, and I am excited to continue improving my skiing skills.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card hobby-card h-100 text-center">
          <img src="../resources/img/books.jpg" class="card-img-top" alt="books">
          <div class="card-body">
            <h5 class="card-title">Reading</h5>
            <p class="card-text">
              Like music, reading has been important to me for as long as I can remember. I have always been drawn to Science Fiction and Fantasy the most, and my favorite book of all time is "Ready Player One" by Ernest Cline. Reading extends outside of the chapter books however; I also love to go down random research rabbit holes online and read comics. I am currently reading "Dungeon Crawler Carl" by Matt Dinniman. I am always looking for book recommendations, so if you have any please send them my way!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="text-center">
    <p>Connect with me</p>
    <a href="https://github.com/isabellaatx" target="_blank" class="mx-2">
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/isabellabanse/" target="_blank" class="mx-2">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>