
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Isabella's Hobbies</title>
  <link rel="stylesheet" href="../resources/css/styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light shadow-sm py-3">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="home.html">
        <img src="../resources/img/csflower.jpg" alt="Isabella's Logo" width="50" height="50" class="rounded-circle me-2 border border-2 custom-border">
        <span class="fw-semibold fs-4">Isabella’s Hobbies</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link fw-medium" href="home.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fw-medium" href="projects.html">Projects</a> 
            </li>
            <li class="nav-item">
              <a class="nav-link active fw-medium" aria-current="page" href="hobbies.html">Hobbies</a>
            </li>
          </ul>
        </div>
        <style>
          body { background-color: rgb(245, 223, 226); }
        </style>
      </div>
    </nav>
      <div class="container my-5">
        <div class="row">
          <div class="col-md-4">
            <div class="card h-100 text-center">
              <img src="../resources/img/guitar.jpg" class="card-img-top" alt="Guitar">
              <div class="card-body">
                <h5 class="card-title">Guitar</h5>
                <p class="card-text">
                  I am currently learning how to play the guitar! It's definitely a challenge,
                  but it is super rewarding. I play both acoustic and electric, but I'd say 
                  electric is my favorite right now.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100 text-center">
              <img src="../resources/img/art.jpg" class="card-img-top" alt="Art">
              <div class="card-body">
                <h5 class="card-title">Art</h5>
                <p class="card-text">
                  I also like to do anything artistic, whether that be drawing, painting, or 
                  another form of art. I used to love doing so growing up, and I'd like to 
                  get back into it as a form of creative expression!
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100 text-center">
              <img src="../resources/img/skiing.jpg" class="card-img-top" alt="Skiing">
              <div class="card-body">
                <h5 class="card-title">Skiing</h5>
                <p class="card-text">
                  I'd only been skiing twice before coming to Boulder, but now that I am in 
                  Colorado it is one of my favorite things! The adrenaline rush from going 
                  down a slope is unmatched, and it’s cool seeing my progression as I tackle 
                  harder runs.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div> 
    <footer class="text-center py-4 mt-5">
      <p>Connect with me:</p>
      <a href="https://github.com/isabellaatx" target="_blank" class="mx-2">
        <i class="fab fa-github fa-2x"></i>
      </a>
      <a href="https://www.linkedin.com/in/isabellabanse/" target="_blank" class="mx-2">
        <i class="fab fa-linkedin fa-2x"></i>
      </a>
    </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>
</body>
</html>