<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <title>Isabella Banse</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../resources/css/styles.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand d-flex align-items-center" href="index.html">
        <span>Isabella Banse</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="projects.html">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="hobbies.html">About Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="hero-section">
    <img src="../resources/img/me.jpg" alt="Isabella">
    <div class="hero-text">
      <h2>Isabella Banse</h2>
      <p>
          My name is Isabella Banse; I am a sophomore at the University of Colorado Boulder, currently pursuing a B.S. in Computer Science. I am from Austin, Texas, and am involved the Chi Omega fraternity, the Society of Women Engineers, and Partnerships for Informal Science Education in the Community (PISEC). I am currently very interested in machine learning, specifically neural networks, and just completed a project where I created a neural network to classify different genres of music based on synthetic EEG readings. I would like to learn more about the science and code behind features and circuits, as well as the process behind how a system rewrites itself if one feature is changed. My personal next step is to complete Andrej Karpathy's Neural Networks: Zero to Hero Youtube course to further my knowledge. I'd also like to develop a creative volume slider site soon that reads the octave that a user is singing/speaking into the computer and adjusts the volume accordingly.
      </p>
      <a href="../resources/isabellaresume.pdf" target="_blank" download="isabella_banse_resume.pdf" class="btn-custom">
        Download Resume
      </a>
    </div>
  </section>

  <footer class="text-center">
    <p>Connect with me:</p>
    <a href="https://github.com/isabellaatx" target="_blank" class="mx-2">
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/isabellabanse/" target="_blank" class="mx-2">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>